<section
  class="container mx-auto flex h-screen max-w-[800px] flex-col items-center justify-center text-center"
>
  <span class="mb-4 rounded-full bg-grey-100 px-4 py-2 capitalize text-black"
    >👋 Meet Lexicon</span
  >
  <h1 class="mb-4 text-600 font-900 leading-[1.2] md:text-900">
    Unlock the World of Knowledge with Lexicon.
  </h1>
  <p class="md:text-300">
    Whether you're a curious reader, a creative professional, or a lifelong
    learner, Lexicon has something for you
  </p>
</section>

<style>
  h1 {
    background: linear-gradient(to right, #c41740, #ea9c28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
